.main {
    min-height: 3rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: .5rem 5%;
}

.top {
    height: 3rem;
    width: 100%;
    display: flex;
}

.box1 {
    width: 15%;
    height: 3rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box2 {
    width: 60%;
    position: absolute;
    left: calc(15% + 1rem);
    top: .75rem;
    min-height: 3rem;
    /* max-width: 42rem; */
    overflow: scroll;
    
    display: flex;
}

.box2::-webkit-scrollbar {
    display: none;
}

.box3{
    width: 10%;
    position: absolute;
    left: calc(75% + 1rem);
    top: .8rem;
    /* width: 8rem; */
    z-index: 1;

}
.bottom {
    min-height: 8rem;
    width: 100%;
    background-color: black;
}

.left {
    width: 80%;
    display: flex;
    flex-direction: row;
    /* background-color: grey; */
}



.icon {
    height: 1.5rem;
    object-fit: contain;
    cursor: pointer;
}

.right {
    width: 20%;
}

@media screen and (max-width: 599px) {
    .box1{
        display: none;
    }
    .box2{
        overflow: scroll;
        left: calc(11rem);
    }
    .box2::-webkit-scrollbar{
        display: none;
    }
    .box3{
        left: 1rem;
    }
}